@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Defalt Value */
.r {
    color: #FD6E0A;
}

.font_color {
    color: #474747;
    font-size: 15px;
}


/* Header  */
.header
{
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Navber */
nav > h1 {
    font-weight: 700;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 150px;
}

nav > ul {
    display:flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

nav > ul > button {
    background-color: #FD6E0A;
    width: 110px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-between; 
    margin: 0 35px 0 150px;
    align-items: center;
}

.banner-content {
    width: 580px;
    
}

.banner-content-greeting {
    font-size:x-large;
    color: #474747;
    font-family: sans-serif;
}
.banner-content-heading{
    width: 498px;
    font-family: sans-serif;
}
.banner-image {
    width: 584px;
}
.description {
    font-family: sans-serif;
}
.bnt {
    background-color: #FD6E0A;
    width: 110px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
}

/* about style  */
.about {
    background-color:#FFF8F3;
    width: 1140;
    height: 550;
    margin: 60px 200px 0px 200px;
    padding: 50px 100px;
    border-radius: 20px;
    align-items: center;
    text-align: center;

}

.about-heading {
    font-family: sans-serif;
}
.detail {
    display: flex;
    justify-content: space-around;
}

.details-key {
    color: #474747;
    font-family: sans-serif;
    line-height: 0px;
}


/* What i do section  */

.whatido-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 350px;
}

.whatido{
    margin: 60px 200px 0px 200px;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}

.whatido-card {
    width: 170px;
    height: 270px;
    text-align: left;
    box-shadow:0px 6px 50px 0px rgb(0, 0,0, 0.06);
    border-radius: 5px;
    padding: 20px 20px 0px 20px;
}

.text-color{
    color: #474747;
}


/* Resume style part */
.text-heading{
    text-align: center;
    margin: 50px 0px 50px 0px;
}
.resume {
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.resume-card {
    width: 350px;
}
.resume1 {
    font-family: sans-serif;
}
.bnt11 {
    text-align: center;
    align-items: center;
    margin: 50px 50px ;
}
.hide {
    display: none;
}

/* Footer Style */

.footer {
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    width: 50%;
    height: 400px;
    margin: 10% 5% 0% 8%;
}

.footer-form {
    width: 50%;
    height: 400px;
    margin: 2% 10% 0% 8%;
}

.footer-icon {
    display: flex;
    gap: 20px;
}

/* Footer */
input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

@media  screen and (max-width:576px) {

    .resume {
        flex-direction: column;
        align-items: center;
    }


    .footer {
        flex-direction: column;
        justify-content: center;
        gap: 20px;  
    }
    .footer-container {
        width: 80%;
        height: 80%;
        padding: 0%;
    }
    .footer-form {
        width: 80%;
        
    }
}

